.feedback {
  color: red;
  font-size: 0.8rem;
}

.buyer.active {
  font-weight: bold;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 165px);
}

.action-button-wrapper {
  margin-top: 10px;
}