th, td {
  border: 1px solid #dee2e6;
  border-right: none;
  border-left: none;
  border-collapse: collapse;
  padding: 2px 7px;
}

table {
  width: 100%;
}

.total-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.hidden {
  display: none;
}