.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.header a:hover, .header a:focus, .header a:active {
  text-decoration: none;
  color: #000;
}

.date, .payement-type {
  color: #000;
}

.header .active {
  font-weight: bold;
  font-size: 1.2em;
}

h3.modal-header {
  border-bottom: 1px solid #eee;
  padding: 3px;
}