th, td {
  border: 1px solid #dee2e6;
  border-right: none;
  border-left: none;
  border-collapse: collapse;
  padding: 2px 7px;
}

table {
  width: 100%;
}

.payement-list-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 190px);
}

.add-payement {
  text-align: center;
  color: #fff;
  background-color: #6c757d;
  border-top: 1px solid #dee2e6;
  padding: 2px 7px;
}