.month-year-picker {
  display: flex;
  flex-direction: column;
}

.month {
  display: grid;
  grid: 40px / auto auto auto;
  grid-gap: 2px;
  background-color: #f4f4f4;
}

.month > div {
  text-align: center;
  padding: 8px;
  background-color: #fff;
}

.year {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  margin-bottom: 8px;
}

.year > div {
  padding: 8px;
}

div.current {
  font-weight: 800;
}